

    body {
    margin: 0;
    font-family: "Cinzel Decorative", serif ; /* Define a fonte do projeto */
    background-color:black; /* Cor de fundo */
    
}
.menu-principal ul {
    list-style: none; /* Tira as bolinhas da lista */
    margin: 0;
    padding: 0;
    display: flex; /*Ativa o flexbox dos elementos */
    justify-content: center; /* Centraliza os itens horizontalmente */
    background-color: #5A3A22;
}

.menu-principal a {
    text-decoration: none; /* Tira Linha */
    color: #000;
    display: block; /*Transforma o link no bloco - ocupa todo espaço do conteiner*/
    padding: 20px 25px; /* Espaço entre as escritas */
    font-weight: bold; /*Faz ficar em negrito*/
    text-transform: uppercase; /* Transforma o texto */
    font-size: 14px; /* aumenta a fonte */
    
}
.menu-principal a:hover { /* HOVER, quando passa o mouse em cima do menu */
    background-color:#8B5A2B;
    color:#000;
}

/* ----- SEÇÃO HERO (FUNDO COM IMAGEM) ----- */
.hero {
    background-image: url("img/img-inicio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
    box-sizing: border-box;
}

/* ----- BLOCO DE CONTEÚDO DA HOME ----- */
.hero-content {
     background-color: rgba(139, 30, 30, 0.7); /* vermelho vinho + 70% opaco / 30% transparente */
    color: #000; /* texto preto */
    padding: 40px 50px;
    border-radius: 12px;
    max-width: 750px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.45);
  

}

/* ----- TÍTULO PRINCIPAL ----- */
.hero-content h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #000;
}

/* ----- SUBTÍTULO ----- */
.hero-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
}

/* ----- PARÁGRAFO ----- */
.hero-content p {
    font-size: 15px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
}

/* ----- BOTÃO HERO ----- */
.hero-button {
    display: inline-block;
    background-color: #000;      /* botão preto clássico */
    color: #fff;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;

    border-radius: 6px;
    text-decoration: none;

    transition: 0.3s ease-in-out;
}

/* Hover (passar o mouse) */
.hero-button:hover {
    background-color: #2a2a2a;
    transform: scale(1.05);
}



.bloco-info img {
    max-width: 100%;
    display: block;
    border-radius: 15px 15px 15px 15px;
 }

/* --- BLOCO DE CONTEÚDO SOBRE  --- */
.bloco-info {
    background-image: url("img/img-inicio.png");
    background-size: cover;      /* imagem ocupa toda a tela */
    background-position: center; /* centralização */
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;           /* ocupa a tela inteira */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

/* --- BLOCO DE TEXTO POR CIMA --- */
.texto-sobre {
    background-color: rgba(139, 30, 30, 0.7); /* vermelho vinho + 70% opaco / 30% transparente */
    color: #000;              /* texto preto */
    max-width: 750px;
    padding: 40px 50px;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;

    
}

/* Título */
.texto-sobre h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: #000;
}
/* Parágrafo */
.texto-sobre p {
    font-size: 15px;
    font-family:"cinzel decorative", serif;
}

/* --- BLOCO DE CONTEÚDO CONTATO --- */
.bloco-contato {
    background-image: url("img/img-inicio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}
.card-contato {
    background-color: #8B1E1E;   /* fundo sólido vermelho */
    color: #000;                 /* texto preto */
    max-width: 700px;
    padding: 35px 45px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    opacity: 0.95;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/* --- BLOCO DE TEXTO --- */
.bloco-contato > div {
    background-color: #8B1E1E; 
    color: #000;              

    max-width: 750px;
    padding: 40px 50px;
    border-radius: 12px;


    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    opacity: 0.95;

    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/* Título */
.bloco-contato h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 15px;
    margin-bottom: 15px;
    color: #000;
}

/* Parágrafos */
.bloco-contato p {
    font-size: 15px;
    margin-bottom: 10px;
    font-family:"cinzel decorative", serif;
}

/* Negrito (endereço, telefone, email) */
.contato-info {
    text-align: center;
    width: 100%;
}

.mapa {
    width: 100%;
    max-width: 380px; /* tamanho do mapa */
    height: 250px;
    margin: 20px auto 0 auto; /* deixa no centro */
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}
/* ----- FOOTER ----- */
footer {
    background-color: #111;
    color: #eee;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 18px;
    margin-top: -5px;
}